{{#data.programModelList.items}}
<div>
  <div>
    <h1>{{programName}}</h1>
  </div>
</div>
<div>
  <div>
    <p>{{programCode}}</p>
  </div>
</div>
<div>
  <div>
    {{{descriptionOfProgram.html}}}
  </div>
</div>
{{/data.programModelList.items}}
